body {
   background: "white";
   font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
   font-size: 14pt;
   margin-left: 0;
   margin-top: 3em;
}

a {
	color: black;
}

.lindent { margin-left: 5em; }

.sending-results {
    font-weight: bold;
    font-size: medium;
}

.newTextInput {
    margin-top: 1em;
    margin-bottom:1em; 
    width:600px;
}

newButton {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
}

div.bar-container {
    border: 1px solid;
    border-color: white;
    background-color: white;
}
div.bar {
    background-color:  white;
}
div.fancy {
    color: black;
    font-size: medium;
}

p {
   background: "white";
   font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
   font-size: 16pt;
   line-height: 1.3em;
   word-spacing: -0.05em;
   color:  black;
   margin-left: 0;
   margin-top: 1em;
   margin-bottom: 1em;
}

p.progress-text {
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 14px;
    text-align: center;
}
p.practice-box {
    color:  black;
    height: 1.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
}
span.retry {
    color:  black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color:  black;
}


.PennController-Scale .option {
    margin: 0em 0.6em;
}

.PennController-Button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.PennController-DropDown{
    font-size: 16px;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    height: 40px;
    min-width: 150px;
    text-align: center;
}
